<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<!-- Axentix CSS minified version -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.0.0/dist/css/axentix.min.css"> 
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('CSS/style.css') }}">
	</head>
	<body>
		<header>
			<nav class="navbar shadow-1 primary">
				<a href="{{ path('app_home')}}" class="navbar-brand">4coins</a>
				<div class="navbar-menu ml-auto">
					<a class="navbar-link" href="{{ path('users_annonces_ajout') }}" >Ajouter une annonce</a>
					<a class="navbar-link" href="{{ path('app_login') }}">Login</a>
					<a class="navbar-link" href="{{ path('app_logout') }}">Déconnecter</a>
					<a class="navbar-link" href="{{ path('app_register') }}">Registration</a>
					<a class="navbar-link" href="{{ path('admin_home') }}">Admin</a>

					
				</div>
			</nav>
		</header>

		<main>
				{% block body %}{% endblock %}
		</main>

		<footer class="footer primary">
			Copyright © 2021 
		</footer>
		
		<!-- Axentix JS minified version -->
		<script src="https://cdn.jsdelivr.net/npm/axentix@1.0.0/dist/js/axentix.min.js"></script>
		{% block javascripts %}{% endblock %}
    <script src="{{ asset('JS/script.js') }}"></script>
	</body>
</html>
